<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODOLIST</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div id="wrapper">
        <h1>TODO.LIST</h1>
        <div id="form-wrapper">
          <div id="o-form">
            <!-- um input para digitar o novo item -->
            <input
              type="text"
              id="text-novo-item"
              @keyup.enter="saveNewItem"
              v-model="newItemText"
              maxlength="20"
            />
            <div>
              <input
                type="checkbox"
                id="is-importante"
                v-model="newPriorityItem"
              />
              <!-- um checkbox para marcar o item como prioritário -->
              <label for="is-importante"> Priority</label><br />
            </div>
            <!-- um botão para salvar o novo item -->
            <button @click="saveNewItem" v-if="newItemText.length">Save</button>
          </div>
          <p id="count">{{ txtCount }}</p>
        </div>

        <!-- Lista de itens -->
        <div id="list-wrapper">
          <div
            class="item"
            :class="{important : item.important, done : item.done}"
            @click="item.done = !item.done"
            v-for="(item, index) in list"
            :key="item.id"
          >
            <div @click="excludeItem(index)" class="xButton">X</div>
            <p class="texto-item">{{ item.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
