html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  background-image: linear-gradient(#0b0b0b, #2d2d2d);
  color: #14453d;
  font-family: sans-serif;
}
h1 {
  font-size: 4rem;
  color: #ffffff;
  text-decoration: line-through;
  text-decoration-color: rgba(125, 125, 125, 0.8);
}

#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-wrapper {
  background-color: #5d5d5d44;
  color: #2c1a7e;
  min-height: 50px;
  max-height: 80px;

  max-width: 80%;
  min-width: 600px;
  border-radius: 0.5em;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  margin: 0;
  color: #0064f9;
  opacity: 0.8;
  text-align: left;
  margin-left: 2.5em;
  font-size: 1em;
}

#o-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#text-novo-item {
  flex-grow: 1;
  margin-right: 1em;
  position: relative;
}

#count {
  text-align: left;
  font-size: 0.8rem;
  color: #808080;
  margin-left: 2px;
}

input {
  text-align: left;
  padding: 12px 20px;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #c6c6c6;
  border-radius: 0.4rem;
  outline: transparent;
  transition: border-color calc(var(--transition, 0.2) * 1s) ease;
  cursor: text;
}

input:checked {
  accent-color: #000000;
  -webkit-box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  -moz-box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
}

label {
  cursor: pointer;
  color: #ffffff;
  margin-right: 1em;
}

button {
  background-color: #ffffff;
  padding: 0.7em 1.2em;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all ease 0.4s;
}

button:hover {
  background-color: #8b8b8b;
}

#list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  margin: 2em;
}

.item {
  width: 180px;
  color: rgb(0, 0, 0);
  height: 180px;
  background-color: #ffffff;
  padding: 0.33em;
  box-shadow: 0px 0px 4px rgba(0, 050, 0, 0.1);
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.65;
  transition: all ease-in-out 0.4s;
}

.item:hover {
  opacity: 1;
}

.item::before {
  content: '';
  background-color: rgba(161, 161, 161, 0.6);
  position: absolute;
  height: 35px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.33em 0.5em;
  width: 180px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}

.item.important {
  background-color: rgba(0, 0, 0, 0.412);
  opacity: 1;
  color: #ffffff;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.229);
}

.item.important::before {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.item.done,
.item.important.done {
  opacity: 0.4;
  background-color: #767676;
  color: #000;
  text-decoration: line-through;
  text-decoration-color: rgba(255, 255, 255, 0.7);
}

.item.done::before,
.item.important.done::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.texto-item {
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  line-break: auto;
  hyphens: manual;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.xButton {
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 25px;
  font-weight: 800;
  color: white;
  background-color: red;
  border: red solid 0.4rem;
  border-radius: 90px;
  user-select: none;
  transition: all ease 0.2s;
}

.xButton:hover {
  background-color: darkred;
  padding-top: 2px;
  padding-bottom: 2px;
  border: darkred solid 0.4rem;
}

@media only screen and (max-width: 600px) {
  #list-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  #list-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
